<div class="row">
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="error-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="navbar-collapse modal-header" id="error-modal-header">
                </div>
                <div class="modal-body">
                    <div class="row modal-row">
                        <div class="col-md-12" id="error-modal-content">
                        </div>
                    </div>
                    <div class="row">
                        <a href="/"><button type="button" class="btn btn-primary">Go to home page</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
