<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-12">
                <br>
                <h4>Get in touch!</h4>
                <!-- Twitter -->
                <a href="https://twitter.com/mrbrettromero" data-toggle="tooltip" title="Twitter" target="_blank" class="share-btn twitter">
                    <i class="fa fa-twitter"></i>
                </a>

                <!-- Facebook -->
                <a href="https://www.facebook.com/brett.romero.9" data-toggle="tooltip" title="Facebook" target="_blank" class="share-btn facebook">
                    <i class="fa fa-facebook"></i>
                </a>

                <!-- Page -->
                <a href="https://thepowercalculator.com" data-toggle="tooltip" title="thepowercalculator.com" target="_blank" class="share-btn home">
                    <i class="fa fa-home"></i>
                </a>
          <br>
          <br>
          <p class='document-links'>
              <a href='/privacy-policy'>Privacy Policy</a> | <a href='/terms-conditions'>Terms &amp; Conditions</a>
          </p>
            </div>
        </div>
    </div>
</footer>
