.question {
    margin-bottom: 5px;
}

.question-explainer {
    font-style: italic;
    font-size: 15px;
    margin-top: 0px;
}

.question-select {
    margin-top: 55px;
}

#recommend-btn {
    margin-top: 40px;
}

.test-link {
    font-size: 15px;
}

@media screen and (max-width: 350px) {

}
