.toolbar {
    background-color: #f5f2e7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.results {
    background-color: #f1eff7;
}

#go-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.box-header {
    margin-top: 0px;
    margin-bottom: 10px;
}

.option-header {
    margin-bottom: 5px;
    margin-top: 20px;
}

.results-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
