.toolbar {
    background-color: rgb(255, 245, 220);
}

#go-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.box-header {
    margin-top: 0px;
    margin-bottom: 10px;
}

.option-header {
    margin-bottom: 5px;
    margin-top: 20px;
}

.results-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
