.accordian-header {
    font-size: 20px;
    color: black;
    margin-top: 5px;
    text-transform: none;
}

.accordian-header:hover {
    color: #6b9430;
}

.toolbar {
    background-color: #f1eff7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    margin-top: 40px;
}

.option-col {
    padding-left: 50px;
}

.option-row {
    margin-bottom: 5px;
}

.option-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

.results {
    margin-bottom: 60px;
}

#go-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.box-header {
    margin-top: 0px;
    margin-bottom: 10px;
}

.results-row {
    padding-top: 50px;
    padding-bottom: 0px;
}

p.notes {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4.subheader {
    margin-top: 10px;
    margin-bottom: 5px;
}

#description {
    font-size: 14px;
}
