<!-- Bootstrap Requirements -->
<script src="{{ url_for('static',filename='script/bootstrap/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='script/bootstrap/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='script/bootstrap/bootstrap.min.js') }}"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.min.css') }}">

<!-- Font-awesome for sharing buttons -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Internal CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/baseStyle.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/purchaseBanner.css') }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-60963697-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-60963697-7');
</script>
