<!-- Encoding -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Facebook Open Graph tags -->
<meta property="og:title" content="The Power Calculator" />
<meta property="og:site_name" content="The Power Calculator"/>
<meta property="og:image" content="http://thepowercalculator.com/static/img/index.jpg"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://thepowercalculator.com"/>
<meta property="og:description" content="An online application for understanding and performing useful calculations for statistical analyses."/>
