<!-- Encoding -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Facebook Open Graph tags -->
<meta property="og:title" content="Stats Calculator" />
<meta property="og:site_name" content="Stats Calculator"/>
<meta property="og:image" content="https://statscalculator.brettromero.com/static/img/abstract-1022206.jpg"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://statscalculator.brettromero.com"/>
<meta property="og:description" content="An application for calculating and understanding statistics for hypothesis testing."/>
