<!DOCTYPE html>
<html>

<head>
    <title>The Power Calculator</title>

    {% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}

    <!-- Page Specific Styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/calculator.css') }}">

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static',filename='script/custom/indexOnLoad.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/indexFunctions.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/testMap.js') }}"></script>

</head>

<body>
    {% include 'includes/spinner.html' %}
    <!-- Content -->
    {% include 'modules/navbar.html' %}
    <div class="container-fluid">
        <div class="row" id="initial-view">
            <div id="primary-image"></div>
            <div class="col-md-12" id="text-overlay">
                <div class="row text-overlay-row">
                    <h1 id="primary-header">The Power Calculator</h1>
                </div>
                <div class="row text-overlay-row">
                    <h2 id="tag-line">Helping you calculate and understand statistics</h2>
                </div>
                <div class="row text-overlay-row">
                    <div class="col-md-12">
                        <a href="#setup-questions">
                            <button type="button" class="btn btn-lg btn-primary">Help me find the right test</button>
                        </a>
                    </div>
                </div>
                <div class="row text-overlay-row">
                    <div class="col-md-12">
                        <a href="#all-tests">
                            <button type="button" class="btn btn-lg btn-success">I know what I'm looking for</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="setup-questions">
            <div class="col-md-8 offset-md-2">
                <h2>Test Recommender</h3>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="question">How many groups do you have?</h4>
                        <p class="question-explainer">How many treatment and/or control groups are in the study?</p>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div id="groups-select" class="form-group question-select">
                            <select id="groups-list" class="form-control eco-select">
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3+'>3 or more</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="question">Are the groups independent or related?</h4>
                        <p class="question-explainer">E.g. Is the study a before and after study (related), or two different groups (independent)?</p>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div id="independence-select" class="form-group question-select">
                            <select id="independence-list" class="form-control eco-select">
                                <option value='independent'>Independent</option>
                                <option value='related'>Related</option>
                                <option value='na'>Not Applicable</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="question">Can we assume the sample means are normally distributed?</h4>
                        <p class="question-explainer">In most cases where n > 60, this is a safe assumption to make
                            due to the <a href="https://en.wikipedia.org/wiki/Central_limit_theorem" target="_blank">central limit theorem</a>.
                        </p>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div id="normality-select" class="form-group question-select">
                            <select id="normality-list" class="form-control eco-select">
                                <option value='yes'>Yes</option>
                                <option value='no'>No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="question">Can we assume equal variance?</h4>
                        <p class="question-explainer">You typically default to this assumption unless you have a strong reason to believe otherwise.</p>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div id="equal-variance-select" class="form-group question-select">
                            <select id="equal-variance-list" class="form-control eco-select">
                                <option value='yes'>Yes</option>
                                <option value='no'>No</option>
                                <option value='na'>Not Applicable</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <button type="button" class="btn btn-lg btn-success" id="recommend-btn">Recommend Tests</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Recommended Tests</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2" id="filtered-test-list">
            </div>
        </div>
        <div class="row" id="all-tests">
            <div class="col-md-8 offset-md-2">
                <h2>All Tests</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2" id="complete-test-list">
            </div>
        </div>
    </div>
    {% include 'modules/footer.html' %}
</body>

</html>

<!-- <div class="row">
    <div class="col-md-8">
        <h4 class="question">What do you want to estimate?</h4>
        <p class="question-explainer">Select the statistic you are interested in finding out.</p>
    </div>
    <div class="col-md-3 offset-md-1">
        <div id="target-select" class="form-group question-select">
            <select id="target-list" class="form-control eco-select">
                <option value='power'>Statitical Power</option>
                <option value='sample'>Sample Size</option>
                <option value='effect'>Effect Size</option>
                <option value='p'>p value</option>
            </select>
        </div>
    </div>
</div> -->
