<!DOCTYPE html>
<html>
<head>
	<title>Privacy Policy | The Power Calculator</title>

	{% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}

</head>
<body>
	<!-- Navbar -->
	{% include 'modules/navbar.html' %}
	<!-- Content -->
	<div class="container-fluid">
		<div class="row">
            <div class='col-md-12 main-panel'>
                <h2>Privacy Policy</h2>
                <p>
                    This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
                </p>
                <h5>What personal information do we collect from the people that visit our blog, website or app?</h5>
                <p>
                    When using this site, we employ Google Analytics to collect information which includes which pages are viewed, how long those pages are viewed for, and basic information which can include the type of device being used and the broad location it is being viewed from (based on your IP address).
                </p>
                <h5>When do we collect information?</h5>
                <p>
                    Anytime a page is viewed on ThePowerCalculator.com.
                </p>
                <h5>How do we use your information?</h5>
                <p>
                    We may use the information we collect from you in the following ways:
                </p>
                <ul>
                    <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested</li>
                    <li>To understand how people are using the ThePowerCalculator.com so that we can improve the user experience.</li>
                </ul>
                <h5>How do we protect your information?</h5>
                <ul>
                    <li>We do not use vulnerability scanning and/or scanning to PCI standards.</li>
                    <li>We only provide articles and information. We never ask for credit card numbers.</li>
                    <li>We do not use Malware Scanning.</li>
                </ul>
                <p>We use also an SSL certificate to help keep your information secure when it is transmitted from your browser to our servers.</p>
                <h5>Do we use 'cookies'?</h5>
                <p>
                    No. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
                </p>
                <p>We use cookies to understand and save user's preferences for future visits.</p>
                <p>
                    You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
                </p>
                <p>
                    If you turn cookies off, some of the features that make your site experience more efficient may not function properly.
                </p>
                <h5>Third-party disclosure</h5>
                <p>
                    We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.
                </p>
                <h5>Third-party links</h5>
                <p>
                    We do not include or offer third-party products or services on our website.
                </p>
                <h5>Google</h5>
                <p>
                    Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. <a href='https://support.google.com/adwordspolicy/answer/1316548?hl=en'>https://support.google.com/adwordspolicy/answer/1316548?hl=en</a>
                </p>
                <h6>We have implemented the following:</h6>
                <p>
                    We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) to track usage of the application to better understand our users and for the improvement of the user experience.
                </p>
                <h6>Opting out:</h6>
                <p>
            		Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.
                </p>
                <h5>California Online Privacy Protection Act</h5>
                <p>
                    CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy.  The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. -  See more at: <a href='http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf'>http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>
                </p>
                <h6>According to CalOPPA, we agree to the following:</h6>
                <ul>
                    <li>Users can visit our site anonymously.</li>
                    <li>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</li>
                    <li>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</li>
                    <li>You will be notified of any Privacy Policy changes:
                        <ul>
                            <li>On our Privacy Policy Page</li>
                        </ul>
                    </li>
                    <li>You can change your personal information:
                        <ul>
                            <li>Information collected reflects your Google account</li>
                        </ul>
                    </li>
                </ul>
                <h6>How does our site handle Do Not Track signals?</h6>
                <p>
                    We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
                </p>
                <h6>Does our site allow third-party behavioral tracking?</h6>
                <p>
                    We do not allow third-party behavioral tracking
                </p>
                <h5>COPPA (Children Online Privacy Protection Act)</h5>
                <p>
                    When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control.  The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
                </p>
                <p>We do not specifically market to children under the age of 13 years old.</p>
                <h5>Fair Information Practices</h5>
                <p>
                    The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
                </p>
                <h6>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</h6>
                <p>We will notify you via email within 7 business days.</p>
                <p>
                    We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
                </p>
                <h5>CAN SPAM Act</h5>
                <p>
                    The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
                </p>
                <h6>We collect your email address in order to:</h6>
                <ul>
                    <li>Send information, respond to inquiries, and/or other requests or questions.</li>
                </ul>
                <h6>To be in accordance with CANSPAM, we agree to the following:</h6>
                <ul>
                    <li>Not use false or misleading subjects or email addresses.</li>
                    <li>Identify the message as an advertisement in some reasonable way.</li>
                    <li>Include the physical address of our business or site headquarters.</li>
                    <li>Monitor third-party email marketing services for compliance, if one is used.</li>
                    <li>Honor opt-out/unsubscribe requests quickly.</li>
                    <li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
                </ul>
                <p>If at any time you would like to unsubscribe from receiving future emails, you can follow the instructions at the bottom of each email and we will promptly remove you from <strong>ALL</strong> correspondence.</p>
                <h5>Contacting Us</h5>
                <p>If there are any questions regarding this privacy policy, please email us at info at dytbaat.com</p>
                <p>Last Edited on 2020-01-23</p>
            </div>
        </div>
	</div>
	{% include 'modules/footer.html' %}
</body>
</html>
