<!DOCTYPE html>
<html>

<head>

    <title>The Power Calculator – t-test: Independent Samples</title>

    {% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}
    {% include 'includes/chart-scripts.html' %}
    {% include 'includes/formula-scripts.html' %}

    <!-- Page Specific Styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/testPage.css') }}">

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static',filename='script/custom/ttest2ind/onLoad.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/ttest2ind/toolbar.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/ttest2ind/results.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/fieldMap.js') }}"></script>

</head>

<body>
    {% include 'includes/spinner.html' %}
    <!-- Content -->
    {% include 'modules/navbar.html' %}
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-10 offset-md-1">
                {% include 'modules/purchase-banner.html' %}
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1>t-test – Independent Samples</h1>
                <p>This test is used when:</p>
                <ol>
                    <li>You have two <a href="https://en.wikipedia.org/wiki/Independent_and_identically_distributed_random_variables" target='_blank'>independent and identically distributed</a> samples (e.g. a treatment group and a control group, not a before and after treatment comparison (i.e. "paired samples").</li>
                    <li>You want to assess if a treatment led to some measureable difference in the groups (e.g. giving the treatment group a low fat diet led to a reduction in average weight).</li>
                    <li>You can reasonably assume (or you have confirmed) that the sample means (not the underlying data) are normally distributed (see <a href="https://en.wikipedia.org/wiki/Central_limit_theorem" target='_blank'>Central Limit Theorem</a>).</li>
                    <li>You do not know the standard deviation of the underlying populations. If you do, you can instead use a <i>z</i>-test.</li>
                </ol>
                <p>If this is the type of test you are conducting, or have already completed, you can use this calculator to:</p>
                <ol>
                    <li>Estimate how large a sample you will need to detect an expected effect size (at a given power level).</li>
                    <li>Assess the power of a completed test based on the sample and effect sizes.</li>
                    <li>Calculate the p-value of a completed test.</li>
                    <li>Estimate the smallest effect size you can detect (at a given power level) based on your sample size.</li>
                </ol>
                <p><i>Note 1: This calculator does not require the groups to have equal variance as it uses the Welch's unequal variances t-test formulation by default – and <a href='https://daniellakens.blogspot.com/2015/01/always-use-welchs-t-test-instead-of.html' target='_blank'>you probably should too</a>.</i></p>
                <p><i>Note 2: Another underlying assumption of the t-test is not only that the sample means are normally distributed, but also that the sample variance is χ<sup>2</sup> distributed.</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 toolbar">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="box-header">Options</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="status-select" class="form-group question-select">
                                    <p>What do you want to do?</p>
                                    <select id="status-list" class="form-control eco-select">
                                        <option value='planning'>Plan a new study</option>
                                        <option value='assessing'>Assess a completed study</option>
                                    </select>
                                </div>
                                <div id="target-select" class="form-group question-select">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 option-col" id="compulsoryFields"></div>
                    <div class="col-md-5 option-col" id="orFields"></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <button type="button" class="btn btn-lg btn-success" id="go-btn">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 results" id="results-container">
                <div class="row results-row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Results</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="results-table"></div>
                        </div>
                    </div>
                    <div class="col-md-7 chart-div" id="results-chart-1">
                        <canvas class="chart" id="chart-1"></canvas>
                    </div>
                </div>
                <div class="row results-row">
                    <div class="col-md-6 chart-div" id="results-chart-2">
                        <canvas class="chart" id="chart-2"></canvas>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Calculations</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id='formulae'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id='notes'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row results-row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Key Terms</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="understanding">
                                    <li><strong>Significance Level (α)</strong>: In order to reject the null hypothesis (H<sub>0</sub>: θ = 0; where θ = |μ<sub>1</sub> - μ<sub>2</sub>|), we must observe a difference in sample means that falls in the α most extreme differences in sample means that we would expect to see if the null hypothesis is true. Values in these regions are highlighted in red in the chart to the right.</li>
                                    <li><strong>Statistical Power (1 - β)</strong>: Assuming the alternate hypothesis is true (H<sub>A</sub>: θ = x; where x is the expected difference in population means), repeated sampling would cause us to correctly reject the null hypothesis at a rate of 1 - β. This equates to a false negative (Type II error) rate of β. The sample mean differences that would lead to a Type II error are highlighted in blue in the chart to the right.</li>
                                    <li><strong>Effect Size (Cohen's d)</strong>: A standardized measure of the difference in the group means (can be sample or population means depending on the context). The difference in means is divided by the standard deviation to make the number comparable across different experiments.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 chart-div" id="results-chart-3">
                        <canvas class="chart" id="chart-3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-10 offset-md-1">
                {% include 'modules/purchase-banner.html' %}
            </div>
        </div> -->
    </div>
    {% include 'modules/footer.html' %}
    {% include 'modules/error-modal.html' %}
</body>

</html>
