<!DOCTYPE html>
<html>

<head>

    <title>The Power Calculator – t-test with Two Independent Sample</title>

    {% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}
    {% include 'includes/chart-scripts.html' %}

    <!-- Page Specific Styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/testPage.css') }}">

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static',filename='script/custom/ttest2ind/onLoad.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/ttest2ind/toolbar.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/ttest2ind/results.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/ttest2ind/text.js') }}"></script>
    <script src="{{ url_for('static',filename='script/custom/fieldMap.js') }}"></script>

</head>

<body>
    {% include 'includes/spinner.html' %}
    <!-- Content -->
    {% include 'modules/navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Student's <i>t</i>-test – Two Independent Samples</h1>
                <p>Student's <i>t</i>-test for two independent samples is a test that is used when you have:</p>
                <ol>
                    <li>Two <a href="https://en.wikipedia.org/wiki/Independent_and_identically_distributed_random_variables">independent and identically distributed samples</a> (e.g. a treatment group and a control group, not the same group before and after some treatment).</li>
                    <li>You want to assess if a treatment led to some measureable difference in the groups (e.g. giving the treatment group a low fat diet led to a reduction in average weight).</li>
                    <li>You can reasonably assume (or you have confirmed) that the sample means (not the underlying datapoints themselves) are normally distributed (see <a href="https://en.wikipedia.org/wiki/Central_limit_theorem">Central Limit Theorem</a>).</li>
                    <li>You do not know the standard deviation of the underlying populations.</li>
                </ol>
                <p>If this is the type of test you are conducting, or have already completed, you can use this calculator to:</p>
                <ol>
                    <li>Estimate how large a sample you will need to detect an expected effect size (at a given power level).</li>
                    <li>Assess the power of a completed test based on the sample and effect sizes.</li>
                    <li>Calculate the p-value of a completed test.</li>
                    <li>Estimate the smallest effect size you can detect (at a given power level) based on your sample size.</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 toolbar">
                <h2 class="box-header">Options</h2>
                <p>What do you want to estimate?
                <div id="target-select" class="form-group question-select">
                    <select id="target-list" class="form-control eco-select">
                        <option value='sample-size'>Minimum Sample Size</option>
                        <option value='power'>Statistical Power</option>
                        <option value='p-value'>p value</option>
                        <option value='min-effect'>Minimum Effect Size</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-12" id="options"></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <button type="button" class="btn btn-lg btn-success" id="go-btn">Calculate</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row results-row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Results</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="results-table"></div>
                        </div>
                    </div>
                    <div class="col-md-7 chart-div" id="results-chart-1">
                        <canvas id="chart-1"></canvas>
                    </div>
                </div>
                <div class="row results-row">
                    <div class="col-md-6 chart-div" id="results-chart-2">
                        <canvas id="chart-2"></canvas>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Understanding</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="understanding">
                                    <li><strong>Significance Level (α)</strong>: In order to reject the null hypothesis (H<sub>0</sub>: θ = 0; where θ = |μ<sub>1</sub> - μ<sub>2</sub>|), we must observe a difference in sample means that falls in the α most extreme differences in sample means that we would expect to see if we repeatedly drew samples from the same distribution. Values in these regions would lead to a Type I error and are highlighted in red in the chart below.</li>
                                    <li><strong>Statistical Power (1 - β)</strong>: Assuming the alternate hypothesis is true (H<sub>A</sub>: θ = x; where x is the expected difference in population means), repeated sampling would cause us to correctly reject the null hypothesis at a rate of 1 - β. This equates to a false negative (Type II error) rate of β. The sample mean differences that would lead to a Type II error are highlighted in blue in the chart below.</li>
                                    <li><strong>Effect Size (Cohen's d)</strong>: A standardized measure of the difference in the underlying population means, or the size of the true effect of the treatment. The difference in means is standardized by dividing by the standard deviation.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row results-row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Key Formulae</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet at nulla eget sagittis. Sed et mi quis arcu dictum condimentum at scelerisque sem. Sed nulla lacus, facilisis id faucibus quis, ornare in mauris. Duis dolor ante, feugiat id lacinia sollicitudin, blandit in nisi. Nullam lorem leo, tempus eu congue sit amet, faucibus et leo. Donec fringilla sollicitudin sollicitudin. Etiam mollis maximus mauris. Mauris sit amet venenatis ex. Nullam convallis eros magna, non maximus felis iaculis sit amet. Cras dictum viverra dignissim. Vivamus faucibus faucibus velit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 chart-div" id="results-chart-3">
                        <canvas id="chart-3"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'modules/footer.html' %}
</body>

</html>

<!-- <div class="row">
    <div class="col-md-8">
        <h4 class="question">What do you want to estimate?</h4>
        <p class="question-explainer">Select the statistic you are interested in finding out.</p>
    </div>
    <div class="col-md-3 offset-md-1">
        <div id="target-select" class="form-group question-select">
            <select id="target-list" class="form-control eco-select">
                <option value='power'>Statitical Power</option>
                <option value='sample'>Sample Size</option>
                <option value='effect'>Effect Size</option>
                <option value='p'>p value</option>
            </select>
        </div>
    </div>
</div> -->
