<!DOCTYPE html>
<html>
<head>
	<title>Terms & Conditions | The Power Calculator</title>

	{% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}

</head>
<body>
	<!-- Navbar -->
	{% include 'modules/navbar.html' %}
	<div class="container-fluid">
        <!-- Content -->
		<div class="row">
            <div class='col-md-12 main-panel'>
                <h3>Please check back soon!</h3>
            </div>
        </div>
	</div>
	{% include 'modules/footer.html' %}
</body>
</html>
