<!DOCTYPE html>
<html>

<head>

    <title>The Power Calculator – {{ text.header }}</title>

    {% include 'includes/basic-meta.html' %}
    {% include 'includes/base-scripts.html' %}
    {% include 'includes/chart-scripts.html' %}
    {% include 'includes/formula-scripts.html' %}

    <!-- Page Specific Styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/testPage.css') }}?v=002">

    <!-- Custom JavaScript -->
    <script defer src="{{ url_for('static',filename='script/custom/') }}{{ text.js_folder }}/toolbar.js?v=001"></script>
    <script defer src="{{ url_for('static',filename='script/custom/') }}{{ text.js_folder }}/results.js?v=001"></script>
    <script defer src="{{ url_for('static',filename='script/custom/fieldMap.js') }}?v=001"></script>
    <script defer src="{{ url_for('static',filename='script/custom/') }}{{ text.js_folder }}/onLoad.js?v=001"></script>

</head>

<body>
    {% include 'includes/spinner.html' %}
    <!-- Content -->
    {% include 'modules/navbar.html' %}
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-10 offset-md-1">
                {% include 'modules/purchase-banner.html' %}
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1>{{ text.header }}</h1>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h3 class="mb-0 accordian-header">When should I use this calculator?</h3>
                            </button>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{ text.when_to_use | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h3 class="mb-0 accordian-header">What can I calculate?</h3>
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                {{ text.options | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h3 class="mb-0 accordian-header">Assumptions</h3>
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                {{ text.assumptions | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h3 class="mb-0 accordian-header">Key Concepts</h3>
                            </button>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                {{ text.concepts | safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 toolbar">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="box-header">Options</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="status-select" class="form-group question-select">
                                    <p>What do you want to do?</p>
                                    <select id="status-list" class="form-control eco-select">
                                        <option value='planning'>Plan a new study</option>
                                        <option value='assessing'>Assess a completed study</option>
                                    </select>
                                </div>
                                <div id="target-select" class="form-group question-select">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 option-col" id="compulsoryFields"></div>
                    <div class="col-md-5 option-col" id="orFields"></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <button type="button" class="btn btn-lg btn-success" id="go-btn">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 results" id="results-container">
                <div class="row results-row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Results</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="results-table"></div>
                        </div>
                    </div>
                    <div class="col-md-7 chart-div" id="results-chart-1">
                        <canvas class="chart" id="chart-1"></canvas>
                    </div>
                </div>
                <div class="row results-row">
                    <div class="col-md-6 chart-div" id="results-chart-2">
                        <canvas class="chart" id="chart-2"></canvas>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Calculations</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id='formulae'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id='notes'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row results-row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="box-header">Chart Description</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="description">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 chart-div" id="results-chart-3">
                        <canvas class="chart" id="chart-3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-10 offset-md-1">
                {% include 'modules/purchase-banner.html' %}
            </div>
        </div> -->
    </div>
    {% include 'modules/footer.html' %}
    {% include 'modules/error-modal.html' %}
</body>

</html>
